<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - Free Bulma template</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/ext.css') }}">
</head>

<body>
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-white">Apna Bank</h3>
                    <hr class="login-hr">
                    <p class="subtitle has-text-white">Account login page</p>
                    <div class="box">
                        <figure class="avatar">
                            <!-- <img src="{{url_for('static', filename='pngwing.png')}}" style="border-radius: 50%; width: 100px; height: 100px;"> -->
                        </figure>
                        <form action="/" method="post">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-normal" type="text" name="uname" placeholder="Your Account Number" autofocus="" required>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-normal" type="password" name="upass" placeholder="Your Password" required>
                                </div>
                            </div>

                            <div class="control">
                                <div class="select">
                                <select name="acc_type" class="select is-rounded is-normal">
                                    <option>Customer</option>
                                    <option>Employee</option>
                                </select>
                                </div>
                            </div>
                            
                            <input type="submit" class="button is-block is-info is-normal is-fullwidth">

                        </form>
                    </div>
                    <p class="has-text-grey">
                        <a href="">Employee Login
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>

</body>

</html>